@import '../app.component.scss';

.title-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

// .header-container {
//   display: flex;
//   align-items: center;
//   padding-left: 0;
//   padding-right: 0;
// }

// .box.no-border-right {
//   border-right: none;
// }

// .box.box-top {
//   border-bottom: none;
// }

// .project-tool {
//   height: 25px;
//   border-left: none;
// }

// .title {
//   height: 50px;
//   display: flex;
//   align-items: center;
//   border-top: $border;
// }