<div class="row">
  <div class="col-sm-12 header-container">
    <div class="col-sm-1"></div>
    <div class="col-sm-9 title">Projects > {{projectTitle}}</div>
    <div class="col-sm-1 text-center box box-top no-border-right">
      <fa-icon [icon]="faCog"></fa-icon>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2 box box-bottom project-tool">Project Tool 1</div>
  <div class="col-sm-2 box box-bottom project-tool">Project Tool 2</div>
  <div class="col-sm-2 box box-bottom project-tool">Project Tool 3</div>
  <div class="col-sm-2 box box-bottom project-tool"></div>
  <div class="col-sm-2 box box-bottom project-tool no-border-right"></div>
  <div class="col-sm-1"></div>
</div>